<!DOCTYPE html>
	<head>
		<link href="/gallery.css" rel="stylesheet">
		<%= erb :photoswipe %>
	</head>
	<body>
<%= erb :logo %>
<%= erb :header %>
<%= erb :navigation %>

<div class="gallery">
	<div class="inner demo-gallery">
		<% @photos.each do |name, width, height| %>

		 <a href="<%= name %>" data-size="<%= width %>x<%= height%>" data-author="AleiBainiky" class="demo-gallery__img-main">
	          <img src="<%= name %>" alt="" /></a>	        
	    
	    <% end %> 
	</div>
</div>

<%= erb :pswp %>
<%= erb :demo %>

	</body>
</html>

